In [0]:
import logging
import glob

In [0]:
logging.basicConfig(
    filename='ETLLOG.txt',
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s'
)
import os    
import pandas as pd
import numpy as np
import mysql.connector
import datetime

In [0]:
csvs=glob.glob("C:/Users/Sakthi/Downloads/data sales/*.csv")
df=[pd.read_csv(file) for file in csvs]
df

[  Store_ID        Date Product_ID Product_Name  Quantity_Sold  Unit_Price  \
 0    ST001  2025-07-18    PRD1001         Soap             20        25.5
 1    ST001  2025-07-18    PRD1002      Shampoo             15       110.0
 2    ST001  2025-07-19    PRD1003   Toothpaste             30        32.0
 3    ST001  2025-07-19    PRD1004       Lotion             10        85.5

    Discount_Percent Payment_Mode
 0                10         Cash
 1                 5         Card
 2                 0          UPI
 3                 7       Wallet  ,
   Store_ID        Date Product_ID Product_Name  Quantity_Sold  Unit_Price  \
 0    ST002  2025-07-18    PRD1002      Shampoo             25       108.0
 1    ST002  2025-07-18    PRD1005  Conditioner             18        95.0
 2    ST002  2025-07-19    PRD1001         Soap             28        25.0
 3    ST002  2025-07-19    PRD1006    Face Wash             12       150.0

    Discount_Percent Payment_Mode
 0                 6         Cash
 1                 8         Card
 2                12          UPI
 3                 5       Wallet  ]

In [0]:
Df=pd.concat(df,ignore_index=True)
Df

,Store_ID,Date,Product_ID,Product_Name,Quantity_Sold,Unit_Price,Discount_Percent,Payment_Mode
0,ST001,2025-07-18,PRD1001,Soap,20,25.5,10,Cash
1,ST001,2025-07-18,PRD1002,Shampoo,15,110.0,5,Card
2,ST001,2025-07-19,PRD1003,Toothpaste,30,32.0,0,UPI
3,ST001,2025-07-19,PRD1004,Lotion,10,85.5,7,Wallet
4,ST002,2025-07-18,PRD1002,Shampoo,25,108.0,6,Cash
5,ST002,2025-07-18,PRD1005,Conditioner,18,95.0,8,Card
6,ST002,2025-07-19,PRD1001,Soap,28,25.0,12,UPI
7,ST002,2025-07-19,PRD1006,Face Wash,12,150.0,5,Wallet

In [0]:
Df.dropna()

,Store_ID,Date,Product_ID,Product_Name,Quantity_Sold,Unit_Price,Discount_Percent,Payment_Mode
0,ST001,2025-07-18,PRD1001,Soap,20,25.5,10,Cash
1,ST001,2025-07-18,PRD1002,Shampoo,15,110.0,5,Card
2,ST001,2025-07-19,PRD1003,Toothpaste,30,32.0,0,UPI
3,ST001,2025-07-19,PRD1004,Lotion,10,85.5,7,Wallet
4,ST002,2025-07-18,PRD1002,Shampoo,25,108.0,6,Cash
5,ST002,2025-07-18,PRD1005,Conditioner,18,95.0,8,Card
6,ST002,2025-07-19,PRD1001,Soap,28,25.0,12,UPI
7,ST002,2025-07-19,PRD1006,Face Wash,12,150.0,5,Wallet

In [0]:
Df['total_sales']=Df['Unit_Price']*Df['Quantity_Sold']

In [0]:
Df

,Store_ID,Date,Product_ID,Product_Name,Quantity_Sold,Unit_Price,Discount_Percent,Payment_Mode,total_sales
0,ST001,2025-07-18,PRD1001,Soap,20,25.5,10,Cash,510.0
1,ST001,2025-07-18,PRD1002,Shampoo,15,110.0,5,Card,1650.0
2,ST001,2025-07-19,PRD1003,Toothpaste,30,32.0,0,UPI,960.0
3,ST001,2025-07-19,PRD1004,Lotion,10,85.5,7,Wallet,855.0
4,ST002,2025-07-18,PRD1002,Shampoo,25,108.0,6,Cash,2700.0
5,ST002,2025-07-18,PRD1005,Conditioner,18,95.0,8,Card,1710.0
6,ST002,2025-07-19,PRD1001,Soap,28,25.0,12,UPI,700.0
7,ST002,2025-07-19,PRD1006,Face Wash,12,150.0,5,Wallet,1800.0

In [0]:
Df['Date']=Df['Date'].dt.strftime('%y-%m-%d ')

In [0]:
Df=Df.drop_duplicates(subset=['Store_ID','Date','Product_ID'])

In [0]:
conditions=[
    Df['total_sales']>=1000,
    Df['total_sales']<1000,
]
choices=['High','low']
Df['Sales_category']=np.select(conditions,choices,default='low')

In [0]:
Df

,Store_ID,Date,Product_ID,Product_Name,Quantity_Sold,Unit_Price,Discount_Percent,Payment_Mode,total_sales,Sales_category
0,ST001,25-07-18,PRD1001,Soap,20,25.5,10,Cash,510.0,low
1,ST001,25-07-18,PRD1002,Shampoo,15,110.0,5,Card,1650.0,High
2,ST001,25-07-19,PRD1003,Toothpaste,30,32.0,0,UPI,960.0,low
3,ST001,25-07-19,PRD1004,Lotion,10,85.5,7,Wallet,855.0,low
4,ST002,25-07-18,PRD1002,Shampoo,25,108.0,6,Cash,2700.0,High
5,ST002,25-07-18,PRD1005,Conditioner,18,95.0,8,Card,1710.0,High
6,ST002,25-07-19,PRD1001,Soap,28,25.0,12,UPI,700.0,low
7,ST002,25-07-19,PRD1006,Face Wash,12,150.0,5,Wallet,1800.0,High

In [0]:
# connecting with mydatabase
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='9625015',
    database='Retail_Sales'
)
cursor=mydb.cursor()

In [0]:
cursor.execute("""CREATE TABLE retail_sales(
Store_ID VARCHAR(5),
Date date,
Product_ID VARCHAR(10),
Quantity_Sold int,
Discount_Percent int,
Payment_Mode VARCHAR(30),
total_sales float(2),
Sales_category VARCHAR(5))
""")

In [0]:
cursor.execute("""ALTER TABLE retail_sales
ADD COlUMN Product_Name Varchar(30),
ADD COLUMN Unit_Price float(2);
""")

In [0]:
sql = """
INSERT INTO retail_sales (
    Store_ID,
    Date,
    Product_ID,
    Product_Name,
    Quantity_Sold,
    Discount_Percent,
    Unit_Price,
    Payment_Mode,
    total_sales,
    Sales_category
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s,%s)
"""

data=[tuple(row) for row in Df.values]
cursor.executemany(sql,data)

In [0]:
mydb.commit()
cursor.close()
mydb.close()
logging.error("Something went wrong", exc_info=True)
print("ETL process completed successfully.")

ETL process completed successfully.

In [0]:
#using pandas to calculate Total sales per store.
# Top 5 products with the highest total sales.
# Daily total sales trend for each store.
TotalSales_per_Store=Df.groupby('Store_ID')['total_sales'].sum().reset_index()
High_total_values=Df.groupby('Product_ID')['total_sales'].sum().reset_index().sort_values(by='total_sales',ascending=False)
High5Products=High_total_values.head(5)
daily_trend=Df.groupby(['Store_ID','Date'])['total_sales'].sum().reset_index().sort_values(['Store_ID', 'Date'])
TotalSales_per_Store.to_csv('total sales per store.csv')
High5Products.to_csv('highest total score.csv')
daily_trend.to_csv('dailytrend.csv')

In [0]:
import os
print(os.getcwd())
get_ipython().system('jupyter nbconvert --to script Retailerprocess.ipynb')

C:\Users\Sakthi

[NbConvertApp] Converting notebook Retailerprocess.ipynb to script
[NbConvertApp] Writing 2756 bytes to Retailerprocess.py