In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)
#Create 30 employee IDs
employee_ids = [f'EMP_{i:03d}' for i in range (1,31)]
dates = pd. date_range('2025-07-01',periods=30, freq='D')

In [4]:
#Simulate working hours (between 4 and 10 hours/day)
data = {

 'Date': np.tile(dates, len(employee_ids)),
 'Employee_ID' : np.repeat(employee_ids, len(dates)),
 'Working_Hours': np.random.uniform(4, 10, size=len(dates)
* len(employee_ids)).round(2)
}

In [5]:
df = pd.DataFrame(data)
#Save to CSV
df.to_csv('employee_working_hours.csv', index=False)
#Read from CSV
df_csv = pd.read_csv('employee_working_hours.csv')

In [6]:
print(df_csv.head())
print(df_csv.describe())
print(df_csv['Employee_ID'].nunique())

         Date Employee_ID  Working_Hours
0  2025-07-01     EMP_001           6.25
1  2025-07-02     EMP_001           9.70
2  2025-07-03     EMP_001           8.39
3  2025-07-04     EMP_001           7.59
4  2025-07-05     EMP_001           4.94
       Working_Hours
count     900.000000
mean        6.954233
std         1.762088
min         4.030000
25%         5.387500
50%         7.010000
75%         8.490000
max        10.000000
30

In [8]:
total_hours =df_csv.groupby('Employee_ID')['Working_Hours'].sum().sort_values(ascending=False)

In [9]:
avg_daily =df_csv.groupby('Employee_ID')['Working_Hours'].mean()

In [10]:
threshold_low = 5
threshold_high = 9

In [11]:
df_csv['Low_Hour_Flag'] = df_csv['Working_Hours'] <threshold_low

df_csv['High_Hour_Flag']=df_csv['Working_Hours'] >threshold_high

SyntaxError: invalid syntax (3031550456.py, line 1)

In [ ]:
print(df_csv[df_csv['Low_Hour_Flag'] |
df_csv['High_Hour_Flag']].head())

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#Bar chart of top 10 employees with highest total hours
top10 = total_hours.head(10)
plt.figure(figsize=(10,5))
sns.barplot(x=top10.index, y=top10.values)
plt.xticks(rotation=45)
plt.title('Top 10 Employees by Total working Hours')
plt.ylabel('Hours')
plt.tight_layout()
plt.show()