In [0]:
import pandas as pd
import numpy as np

In [0]:
s1=pd.Series(np.random.randint(1,5,size=100,dtype='l'))
s2=pd.Series(np.random.randint(1,4,size=100,dtype='l'))
s3=pd.Series(np.random.randint(10000,30001,size=100,dtype='l'))
print(s1,s2,s3)

0     3
1     3
2     1
3     3
4     3
     ..
95    3
96    2
97    1
98    4
99    4
Length: 100, dtype: int64 0     2
1     3
2     3
3     3
4     1
     ..
95    1
96    3
97    3
98    2
99    2
Length: 100, dtype: int64 0     15786
1     12159
2     28199
3     27654
4     10535
      ...
95    25090
96    21586
97    17197
98    25550
99    16478
Length: 100, dtype: int64

In [0]:
housemkt=pd.concat([s1,s2,s3],axis=1)
housemkt.head()

   0  1      2
0  3  2  15786
1  3  3  12159
2  1  3  28199
3  3  3  27654
4  3  1  10535

In [0]:
housemkt.rename(columns={0:'bedrooms',1:'bathrooms',2:'price'},inplace=True)
housemkt.head()

   bedrooms  bathrooms  price
0         3          2  15786
1         3          3  12159
2         1          3  28199
3         3          3  27654
4         3          1  10535

In [0]:
bigcoloumn=pd.concat([s1,s2,s3],axis=0)
bigcoloumn=bigcoloumn.to_frame()
print(bigcoloumn)
print(type(bigcoloumn))

        0
0       3
1       3
2       1
3       3
4       3
..    ...
95  25090
96  21586
97  17197
98  25550
99  16478

[300 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [0]:
len(bigcoloumn)

300

In [0]:
bigcoloumn.reset_index(drop=True,inplace=True)

In [0]:
bigcoloumn

         0
0        3
1        3
2        1
3        3
4        3
..     ...
295  25090
296  21586
297  17197
298  25550
299  16478

[300 rows x 1 columns]